<!DOCTYPE html>
<html lang="en" ng-app="expensesApp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExpensesApp</title>

    <link rel="icon" href="/static/img/glyphicons-530-list-alt.png">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/spacelab/bootstrap.min.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-class="{ready: isReady}">
    <nav class="navbar navbar-default ng-cloak">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-greeting">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            ExpensesApp
          </a>
        </div>

        <div>
          <div id="navbar-greeting" class="collapse navbar-collapse">
            <p ng-show="userProfile" class="navbar-text navbar-right">Signed in as <strong ng-bind="userProfile.username"></strong> / <a ng-click="logout()" href="#/">Logout</a></p>
            <p ng-hide="userProfile" class="navbar-text navbar-right"><strong><a href="#/login" class="navbar-link">Login</a></strong> or <strong><a href="#/register" class="navbar-link">Register</a></strong></p>
          </div>
        </div>
      </div>
    </nav>

    <main class="container" ng-view></main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>

    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
