<div class="row">
  <div class="col-sm-3">
    <form name="expenseFilterForm" ng-controller="expenseFilterController" ng-submit="applyFilters(filters)">
      <fieldset>
        <legend>Filters</legend>

        <div class="form-group">
          <label class="control-label" for="from-date">From:</label>
          <div class="input-group">
            <input class="form-control" type="date" id="from-date">
            <span class="input-group-addon glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="to-date">To:</label>
          <div class="input-group">
            <input class="form-control" type="date" id="to-date">
            <span class="input-group-addon glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="filter-description">Description:</label>
          <input class="form-control" type="text" id="filter-description" ng-model="filters.description">
        </div>

        <div class="form-group">
          <label class="control-label" for="filter-comment">Comments:</label>
          <input class="form-control" type="text" id="filter-comment" ng-model="filters.comment">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm">Apply</button>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-sm-9">
    <div class="btn-toolbar" role="toolbar" aria-label="Listing controls">
      <div class="btn-group btn-group-sm" role="group" aria-label="Display controls">
        <button class="btn btn-primary" ng-click="setPrevWeek()">
          <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
          Prev week
        </button>

        <button class="btn btn-primary" ng-click="setCurrWeek()">
          Current week
        </button>

        <button class="btn btn-primary" ng-click="setNextWeek()">
          Next week
          <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        </button>
      </div>

      <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Print controls">
        <button class="btn btn-primary" ng-click="printExpenseList(filters)">
          Print
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Comments</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <tr ng-repeat="expense in expenses">
        <td>{{ expense.datetime | date:'medium' }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount | currency }}</td>
        <td>{{ expense.comment }}</td>
        <td class="text-right">
          <button type="button" class="btn btn-default btn-xs" ng-click="editExpense(expense)" aria-label="Edit">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-xs" ng-click="deleteExpense(expense)" aria-label="Delete">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-default pull-right" ng-click="createExpense()">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      New expense
    </button>
  </div>
</div>

<!-- New Expense Modal -->
<div class="modal fade" id="newExpenseModal" tabindex="-1" role="dialog" aria-labelledby="newExpenseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="newExpenseController">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newExpenseModalLabel">New Expense</h4>
      </div>

      <div class="modal-body">
        <fieldset>
          <div class="form-group">
            <div class="col-xs-6">
              <label class="control-label" for="new-expense-month">Date:</label>
              <div class="input-group">
                <select id="new-expense-month" ng-model="expenseData.month">
                  <option value="0">01</option>
                  <option value="1">02</option>
                  <option value="2">03</option>
                  <option value="3">04</option>
                  <option value="4">05</option>
                  <option value="5">06</option>
                  <option value="6">07</option>
                  <option value="7">08</option>
                  <option value="8">09</option>
                  <option value="9">10</option>
                  <option value="10">11</option>
                  <option value="11">12</option>
                </select>
                /
                <select id="new-expense-day" ng-model="expenseData.day">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
                /
                <select id="new-expense-year" ng-model="expenseData.year">
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                  <option value="2009">2009</option>
                  <option value="2008">2008</option>
                  <option value="2007">2007</option>
                  <option value="2006">2006</option>
                  <option value="2005">2005</option>
                  <option value="2004">2004</option>
                  <option value="2003">2003</option>
                  <option value="2002">2002</option>
                  <option value="2001">2001</option>
                  <option value="2000">2000</option>
                  <option value="1999">1999</option>
                  <option value="1998">1998</option>
                  <option value="1997">1997</option>
                  <option value="1996">1996</option>
                  <option value="1995">1995</option>
                  <option value="1994">1994</option>
                  <option value="1993">1993</option>
                  <option value="1992">1992</option>
                  <option value="1991">1991</option>
                  <option value="1990">1990</option>
                  <option value="1989">1989</option>
                  <option value="1988">1988</option>
                  <option value="1987">1987</option>
                  <option value="1986">1986</option>
                  <option value="1985">1985</option>
                  <option value="1984">1984</option>
                  <option value="1983">1983</option>
                  <option value="1982">1982</option>
                  <option value="1981">1981</option>
                  <option value="1980">1980</option>
                  <option value="1979">1979</option>
                  <option value="1978">1978</option>
                  <option value="1977">1977</option>
                  <option value="1976">1976</option>
                  <option value="1975">1975</option>
                  <option value="1974">1974</option>
                  <option value="1973">1973</option>
                  <option value="1972">1972</option>
                  <option value="1971">1971</option>
                  <option value="1970">1970</option>
                </select>
              </div>
            </div>

            <div class="col-xs-6">
              <label class="control-label" for="new-expense-hour">Time:</label>
              <div class="input-group">
                <select id="new-expense-hour" ng-model="expenseData.hour">
                  <option value="0">00</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
                :
                <select id="new-expense-minute" ng-model="expenseData.minute">
                  <option value="0">00</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
                </select>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert" ng-if="errors.datetime">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span ng-repeat="msg in errors.datetime">{{ msg }}</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <label class="control-label" for="new-expense-description">Description:</label>
              <input class="form-control" type="text" id="new-expense-description" ng-model="expenseData.description">
            </div>

            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert" ng-if="errors.description">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span ng-repeat="msg in errors.description">{{ msg }}</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <label class="control-label" for="new-expense-amount">Amount:</label>
              <input class="form-control" type="number" id="new-expense-amount" ng-model="expenseData.amount">
            </div>

            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert" ng-if="errors.amount">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span ng-repeat="msg in errors.amount">{{ msg }}</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <label class="control-label" for="new-expense-comment">Comments:</label>
              <textarea class="form-control" id="new-expense-comment" ng-model="expenseData.comment"></textarea>
            </div>

            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert" ng-if="errors.comment">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span ng-repeat="msg in errors.comment">{{ msg }}</span>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="save-new-expense">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Save
        </button>

        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Close
        </button>
      </div>
    </form>
  </div>
</div>
