<div class="row">
  <div class="col-xs-12">
    <form name="loginForm" method="post" class="form-horizontal" ng-controller="loginController" ng-submit="login(credentials)" novalidate>
      <fieldset>
        <legend>Login</legend>

        <div class="alert alert-danger" role="alert" ng-if="errors">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{ errors }}
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="username">Username:</label>
          <div class="col-sm-3">
            <input class="form-control" type="text" id="username" ng-model="credentials.username">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="password">Password:</label>
          <div class="col-sm-3">
            <input class="form-control" type="password" id="password" ng-model="credentials.password">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-3">
            <button type="submit" class="btn btn-default">Login</button> or <a href="#/register">Register</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
