<div class="row">
  <div class="col-xs-12">
    <form name="registerForm" method="post" class="form-horizontal" ng-controller="registerController" ng-submit="register(credentials)" novalidate>
      <fieldset>
        <legend>Register</legend>

        <div class="alert alert-success" role="alert" ng-show="success">
          Success! now <a href="#/login">Login</a>
        </div>

        <div ng-hide="success">
          <div class="alert alert-danger" role="alert" ng-if="errors">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ errors }}
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="username">Username:</label>
            <div class="col-sm-3">
              <input class="form-control" type="text" id="username" ng-model="credentials.username">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="first_name">First name:</label>
            <div class="col-sm-3">
              <input class="form-control" type="text" id="first_name" ng-model="credentials.first_name">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="last_name">Last name:</label>
            <div class="col-sm-3">
              <input class="form-control" type="text" id="last_name" ng-model="credentials.last_name">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="password">Password:</label>
            <div class="col-sm-3">
              <input class="form-control" type="password" id="password" ng-model="credentials.password">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="password">Password confirmation:</label>
            <div class="col-sm-3">
              <input class="form-control" type="password" id="password" ng-model="credentials.password_confirm">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
              <button type="submit" class="btn btn-default">Register</button> or <a href="#/login">Login</a>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
