{% load templateutils_filters %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expenses Report {{ filters.from_date | date:'SHORT_DATE_FORMAT' }} - {{ filters.to_date | date:'SHORT_DATE_FORMAT' }} :: ExpensesApp</title>

    <link rel="icon" href="/static/img/glyphicons-530-list-alt.png">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/spacelab/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body onload="window.print()">
    <main class="container-fluid">
      <h1>Expenses Report {{ filters.from_date | date:'SHORT_DATE_FORMAT' }} - {{ filters.to_date | date:'SHORT_DATE_FORMAT' }}</h1>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Comments</th>
          </tr>
        </thead>

        <tbody>
          {% for expense in expenses %}
            <tr>
              <td>{{ expense.datetime | date:'N j, Y g:i:s A' }}</td>
              <td>{{ expense.description }}</td>
              <td>{{ expense.amount | currency }}</td>
              <td>{{ expense.comment }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>Total amount spent during this period: <strong>{{ total_expense | currency }}</strong></p>
      <p>Average amount spent per day: <strong>{{ average_expense | currency }}</strong></p>
    </main>
  </body>
</html>
