/* make ng-cloak work before Angular is loaded */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* loading animation */
body, html {
  height: 100%;
} body {
  background: url('/static/img/loader.gif') center center no-repeat;
} .ready {
  background: none;
}
